.wp-block-typecase-accordion-tabs {
  appearance: none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0; }
  .wp-block-typecase-accordion-tabs, .wp-block-typecase-accordion-tabs > li {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .wp-block-typecase-accordion-tabs button {
    appearance: none;
    background: #efefef;
    width: 100%;
    text-align: left; }
  .wp-block-typecase-accordion-tabs > li {
    margin: 0;
    padding: 0; }
  .wp-block-typecase-accordion-tabs.__use-accordion > li + li {
    border-top: 1px solid #999; }
  .wp-block-typecase-accordion-tabs-content {
    display: none;
    padding: 1em; }
    .wp-block-typecase-accordion-tabs-content[aria-hidden="false"] {
      display: block; }
  .wp-block-typecase-accordion-tabs--toggle {
    border: 0;
    border-bottom: 1px solid #999;
    transition: 0.3s; }
  .wp-block-typecase-accordion-tabs--nav {
    overflow: hidden;
    position: relative;
    /*&.__has-scroll-buttons {
            padding-left: 3em;
        }*/ }
    .wp-block-typecase-accordion-tabs--nav:not(.__has-scroll-buttons) > button {
      display: none; }
    .wp-block-typecase-accordion-tabs--nav ul, .wp-block-typecase-accordion-tabs--nav li {
      display: flex;
      margin: 0;
      padding: 0;
      white-space: nowrap; }
    .wp-block-typecase-accordion-tabs--nav ul {
      display: inline-flex;
      width: auto;
      margin-left: 0;
      margin-right: auto;
      transition: 0.3s; }
    .wp-block-typecase-accordion-tabs--nav li + li {
      border-left: 1px solid #999; }
    .wp-block-typecase-accordion-tabs--nav .wp-block-typecase-accordion-tabs--toggle[aria-expanded="true"] {
      border-bottom: none;
      border-top: 1px solid #999;
      background: white; }
    .wp-block-typecase-accordion-tabs--nav--scroll {
      position: absolute;
      top: 0;
      height: 100%;
      padding-left: 1em;
      padding-right: 1em;
      width: 3em;
      font-size: 1em;
      line-height: 1em;
      display: flex;
      align-items: center;
      transition: 0.3s;
      z-index: 2;
      background: rgba(153, 153, 153, 0.85);
      border: 1px solid #999; }
      .wp-block-typecase-accordion-tabs--nav--scroll svg {
        fill: white;
        width: 1em;
        height: 1em; }
      .wp-block-typecase-accordion-tabs--nav--scroll.__left {
        left: 0; }
      .wp-block-typecase-accordion-tabs--nav--scroll.__right {
        right: 0; }
      .wp-block-typecase-accordion-tabs--nav--scroll.__disabled {
        opacity: 0;
        z-index: -1; }
    .wp-block-typecase-accordion-tabs--nav.__mobile-tabs {
      width: 100%;
      margin: 0;
      border-bottom: 1px solid #999;
      /*button[aria-expanded="false"] {
                display: none;
            }*/
      position: relative;
      padding-left: 3rem;
      padding-right: 3rem; }
      .wp-block-typecase-accordion-tabs--nav.__mobile-tabs .wp-block-typecase-accordion-tabs--toggle {
        width: 100%; }
      .wp-block-typecase-accordion-tabs--nav.__mobile-tabs ul {
        display: block;
        white-space: nowrap;
        position: static; }
        .wp-block-typecase-accordion-tabs--nav.__mobile-tabs ul li {
          width: calc(100% - 6em);
          display: inline-flex;
          width: 100%; }
